<!--

Minimal EcoWitt skin based on the gw1000 driver
===============================================

This example also shows battery status for the external
sensor via mapping the detected sensor's battery status
to a known parameter in weewx's schema.   Displaying
the value has some cheeatah-fu below to only show the
status if there is current data.

For the WH32/WH26 battery=0 is ok, battery=1 is low

     # Options for extension 'GW1000'
     [GW1000]
         driver = user.gw1000
         ip_address = 192.168.2.20
         port = 45000
         poll_interval = 20

         [[field_map_extensions]]
         outTempBatteryStatus = wh26_batt

-->

<html>
<head>
<link rel="stylesheet" href="mystyle.css">
<style>
body {
  background-color: linen;
}
h2 {
  color: maroon;
  margin-left: 40px;
} 
</style>

</head>

<body>

<h1>$station.location current Weather</h1>

<h2> Outside readings: </h2>
<h3>

<dl>
<dd>
<dl>
<dd> $current.outTemp </dd>
<dd> $current.outHumidity humidity </dd>
</dl>
</h3>
</dd>
</dl>
<p>

<h2> Inside readings: </h2>
<h3>
<dl>
<dd>
<dl>
<dd> $current.inTemp </dd>
<dd> $current.inHumidity humidity </dd>
</dl>
</dd>
</dl>

</h3>

<p>
<dl>
<em>
<!-- this is more probably when weewx generated the html last -->
<dd> Last measurement:
  <dl>
  <dd> $current.dateTime.format(format_string="%c") </dd>
  </dl>
</dd>
</em>
<p>
<em>
<dd>Readings courtesy of EcoWitt sensors:
  <dl>
  <dd><a href="https://www.ecowitt.com/shop/goodsDetail/16">GW-1000</a> - wifi gateway</dd>
  <dd><a href="https://www.ecowitt.com/shop/goodsDetail/52">WH32</a> - outside sensor

   	#if $current.outTempBatteryStatus.has_data and $current.outTempBatteryStatus.format("%s") != "0.0"
    	(battery LOW)  - $current.outTempBatteryStatus.format("%.1f")
   	#else
    	(battery OK)
   	#end if

  </dd>
  </dl>
</dd>
</em>
</dl>

</body>

</html>

